* { box-sizing: border-box;}


    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
    }

    #gameBoard {
      width: 604px;
      height: 604px;
      border: 2px solid #000;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .box {
      width: 200px;
      height: 200px;
      margin: 0;
    }
